.profile{
    padding-top: 100px;
    padding-left: 700px;
}
.submit{
    padding-top: 25px;
    padding-left: 150px;
}
.content{
    position: relative;
    text-align: center;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: grey;
}

li{
    float:right;
}

li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: black;

}

li a:hover{
    background-color: grey;
    color: white;
}

.image{
    padding-top: 50px;
}